---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// fix link decoration
a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: underline;}
a:active { text-decoration: underline;}

// fix pagination buttons
.pagination--pager {
    padding: 0em !important;
    border: 0px solid !important;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
